:root {
  --main-color: #fedc20;
  --sec-color: #333e48;
}
.slide,
.carousel-item,
.carousel-item img,
.carousel-inner,
.slide__container {
  border-radius: 20px;
}

.description__slider {
  position: absolute;
  left: 4.375rem;
  top: 5rem;
  text-transform: uppercase;
  width: 35%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.description__slider h3 {
  font-size: 3.1rem;
  font-weight: 400;
}

.description__slider h4 {
  font-size: 3.06rem;
  font-weight: 600;
}

.description__slider__discount {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  align-items: baseline;
  gap: 5px;
}

.description__slider__discount__text {
  font-size: 1rem;
  margin-bottom: 1.87rem;
}

.description__slider__discount__price {
  font-size: 3.1rem;
  position: relative;
  padding-left: 1.25rem;
}

.description__slider__discount__price span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.62rem;
}

.slide:hover .carousel-control-prev,
.slide:hover .carousel-control-next {
  visibility: visible !important;
  margin: auto 20px;
}

.carousel-control-prev,
.carousel-control-next {
  padding: 8px !important;
  width: 2.5rem !important;
  height: 2.5rem;
  margin: auto 0px;
  background-color: var(--main-color) !important;
  border-radius: 50%;
  opacity: 1 !important;
  visibility: hidden;
  transition: all 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--sec-color) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  padding: 5px;
}

.slide__container__small {
  display: none;
}

@media screen and (max-width: 1200px) {
  .Carousel__container {
    display: none;
  }

  .slide__container__small {
    display: block;
    position: relative;
  }

  .description__slider {
    position: absolute;
    left: 2.5rem;
    top: 15px;
    text-transform: uppercase;
    width: 70%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .slide__container__small img {
    border-radius: 20px;
  }

  .description__slider h3 {
    font-size: 2.5rem;
    font-weight: 100;
  }

  .description__slider h4 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .description__slider__discount {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 5px;
  }

  .description__slider__discount__text {
    font-size: 0.8rem;
    margin-bottom: 1.87rem;
  }

  .description__slider__discount__price {
    font-size: 2.3rem;
    position: relative;
    padding-left: 1.25rem;
  }

  .description__slider__discount__price span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 991px) {
  .main__btn {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .description__slider {
    position: absolute;
    left: 1.5rem;
    top: 8px;
    text-transform: uppercase;
    width: 70%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }


  .description__slider h3 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .description__slider h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
  }

  .description__slider__discount {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 5px;
  }

  .description__slider__discount__text {
    font-size: 0.8rem;
    /* margin-bottom: 1.87rem; */
  }

  .description__slider__discount__price {
    font-size: 1.5rem;
    position: relative;
    padding-left: 1.25rem;
  }

  .description__slider__discount__price span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
  }
}
